{% extends 'base.html.twig' %}
{% block body %}

    {%for reponse in reponses %}
        {{reponse}}
    {% endfor %}
    <div class="container">
    <div class="card mb-5" style="width: 30rem;">
      <div class="card-body">
        <h5 class="card-title">Charpantier</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <ul>
          <li>are unaffected by this style</li>
          <li>will still show a bullet</li>
          <li>and have appropriate left margin</li>
        </ul>
      </div>
    </div>
    </div>
    <div class="container">
        <div class="card mb-5" style="width: 30rem;">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <ul>
              <li>are unaffected by this style</li>
              <li>will still show a bullet</li>
              <li>and have appropriate left margin</li>
            </ul>
          </div>
        </div>
        </div>
        <div class="container">
            <div class="card mb-5" style="width: 30rem;">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <ul>
                  <li>are unaffected by this style</li>
                  <li>will still show a bullet</li>
                  <li>and have appropriate left margin</li>
                </ul>
              </div>
            </div>
            </div>
            <div class="container">
                <div class="card mb-5" style="width: 30rem;">
                  <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <ul>
                      <li>are unaffected by this style</li>
                      <li>will still show a bullet</li>
                      <li>and have appropriate left margin</li>
                    </ul>
                  </div>
                </div>
                </div>
                <div class="container">
                    <div class="card mb-5" style="width: 30rem;">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <ul>
                          <li>are unaffected by this style</li>
                          <li>will still show a bullet</li>
                          <li>and have appropriate left margin</li>
                        </ul>
                      </div>
                    </div>
                    </div>
                    <div open-tab="{tabname}">...</div>
                    <div tab-name="{tabname}">{tabcontent}</div>
                    <tab-content></tab-content

{% endblock %}