{% extends "base.html.twig" %}
{% block body %}
	<section class="clean-block bg-dark">
		<div class="text">
			<h1 class="uppercase">LEGERMAIN</h1>
			<p>La société Legermain, jeune entreprise alliant créativité et dynamisme, vous propose de mettre son savoir faire à votre service.
Pour  vos travaux de charpente, couverture, escaliers et autres ouvrages spécifiques faites confiance à deux techniciens du bois, André Legermain et Philippe Troquin habitués à intervenir, notamment, sur des bâtiments classés Monuments Historiques.

Nous apportons un soin particulier à l’écoute et au conseil, deux points essentiels qui précédent la réalisation de vos ouvrages.
Réaliser un travail artisanal, respectueux des traditions, tout en accordant notre prestation à votre budget, telle est notre ambition.

Nous serons également enchantés de répondre à votre demande pour tout ouvrage spécifique, personnalisé ou non conventionnel. 

Afin d’être plus concret, nous vous invitons à découvrir, en images, les ouvrages déjà réalisés. </p>
		</div>
	</section>
	<section class="clean-block col" id="hanging-icons">
		<div class="row">
			<div class="col-10 col-lg-3 card">
				<img class="icon night-invert" src="{{asset("/images/house.png")}}"/>
				<h2>Charpentes</h2>
				<p>Les charpentes ABC Legermain couvrent une large gamme de produits (du hangar agricole aux monuments historiques en passant bien sur par la charpente traditionnelle). Elles sont réalisées artisanalement en employant les assemblages traditionnels correspondant aux style et à l’époque de l’ouvrage (tenons mortaise, chevilles en bois...) </p>
			</div>
			<div class="col-10 col-lg-3 card">
				<img class="icon night-invert" src="{{asset("/images/roof.png")}}"/>
				<h2>Couverture</h2>
				<p>Nous sommes également en mesure de protéger vos demeures des intempéries. Utilisant autant la tuile que l’ardoise ou le bardeau de châtaignier, la société ABC Legermain réalisera la couverture de vos charpentes, en l'agrémentant, si vous le souhaitez de quelques éléments décoratifs.</p>
			</div>
			<div class="col-10 col-lg-3 card">
				<img class="icon night-invert" src="{{asset("/images/woodworking.png")}}"/>
				<h2>Ouvrages spécifiques</h2>
				<p>Escaliers, rambardes et garde-corps, lucarnes et autres menuiseries artisanales…
Nous mettons notre maîtrise de l'ouvrage au service de vos attentes.
Sobre ou travaillé, d'un style rustique ou moderne, racontez nous de votre projet et nous trouverons ensemble une réponse adaptée à votre budget et à votre demande.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-10 col-lg-3 card cover" style="background-image: url('https://www.corso-saunamanufaktur.com/wp-content/uploads/2020/07/Saunaholz-Holzarten.jpg');">
				<h2 class="uppercase">Much longer title that wraps to multiple lines</h2>
			</div>
			<div class="col-10 col-lg-3 card cover" style="background-image: url('https://www.corso-saunamanufaktur.com/wp-content/uploads/2020/07/Saunaholz-Holzarten.jpg');">
				<h2 class="uppercase">Much longer title that wraps to multiple lines</h2>
			</div>
			<div class="col-10 col-lg-3 card cover" style="background-image: url('https://www.corso-saunamanufaktur.com/wp-content/uploads/2020/07/Saunaholz-Holzarten.jpg');">
				<h2 class="uppercase">Much longer title that wraps to multiple lines</h2>
			</div>
		</div>
	</section>
	<section class="clean-block">
		<div class="outline row rounded col-lg-8 col-md-10">
			<div class="col-lg-5 col-10">
				<h1 class="uppercase">Border hero with cropped image and shadows</h1>
				<p>Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
			</div>
			<img-aspect class="col-lg-5 col-10 rounded" aspect="4/3" crop="fill" src="bootstrap-docs.png" >
		</div>
	</section>
	<section class="bg-dark clean-block text-center">
		<div class="text">
			<h1 class="uppercase">Dark mode hero</h1>
			<p>
				Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
			</p>
			<button type="button" onclick=location.assign('/aboutus') class="btn outline uppercase">NOUS CONTACTER</button>
		</div>
	</section>
{% endblock %}
