{% extends "base.html.twig" %}
{% block body %}
<div class="container marketing">
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading uppercase">notre savoir faire </h2>
        <p class="lead">Some great placeholder content for the Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in placefirst featurette here. Imagine some exciting prose here.</p>
            <button type="button" class="btn btn-outline-secondary mb-0 uppercase mb-5 mt-3 margin-left-button" onclick=location.assign('/chantier') >choisir un projet</button>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">


    <div class="position-relative overflow-hidden  text-center bg-light">
        <div class="col-md-5 p-0 mx-auto my-5">
          <h1 class="display-4 fw-normal">POURQUOI NOUS CHOISIR ?</h1>
          <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
            <button type="button" class="btn btn-outline-secondary mb-0 uppercase">lire la suite</button>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>

     <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading uppercase">pret a travailler ensemble</h2>
            <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place layout would work with some actual real-world content in place.</p>
                        <button type="button" class="btn btn-outline-secondary mb-0 uppercase mb-5 mt-3 margin-left-button">nous contacter</button>
          </div>
          <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

          </div>
        </div>

    <!-- /END THE FEATURETTES -->

  </div>



{% endblock %}
