{% extends "base.html.twig" %}
{% block body %}
	<section class="row clean-block">
		<div class="col-lg-5 col-10" >
		<h1 class="uppercase">notre savoir faire</h1>
		<p>
			Some great placeholder content for the Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in placefirst featurette here. Imagine some exciting prose here.
		</p>
		<button type="button" class="btn outline secondary uppercase" onclick=location.assign('/chantier') >choisir un projet</button>
		</div>
		<img-aspect class="big-img col-lg-5 col-10" aspect="4/3" crop="cover" src="" >
	</section>
	<section class="clean-block">
		<div class="text">
			<h1>POURQUOI NOUS CHOISIR ?</h1>
			<p class="text-center">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
			<button type="button" onclick=location.assign('/aboutus') class="btn outline secondary uppercase">lire la suite</button>
		</div>
	</section>
	<section class="row-reverse clean-block">
		<div class="col-lg-5 col-10">
		<h1 class="uppercase">pret a travailler ensemble</h1>
		<p>
			And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.
		</p>
		<button type="button" class="btn outline secondary uppercase" onclick=location.assign('/chantier') >choisir un projet</button>
		</div>
		<img-aspect class="big-img col-lg-5 col-10" aspect="4/3" crop="cover" src="" >
	</section>
{% endblock %}
