###> symfony/framework-bundle ###
/config/secrets/prod/prod.decrypt.private.php
###< symfony/framework-bundle ###
###> symfony/webpack-encore-bundle ###
\var\
/node_modules/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
