{% extends '@EasyAdmin/page/content.html.twig' %}
{% block main %}
<h3>Panel d'administration</h3>
<p>Ici vous pouvez modifier le site, gérer les chantiers, les demandes de devis et les offres...<br><br>
Voici un exemple de résultat de page projet.
</p>
<img style="height:100vh;" src="/images/indexadmin.png">
{% endblock %}
