{% extends '@EasyAdmin/page/content.html.twig' %}
{% block main %}
<h3>Pannelle d'administration</h3>
<p>Ici vous pouvez modifier le site, gérer les chantiers, les demandes de devis et les offres...
</p>
{% endblock %}
