{% extends 'base.html.twig' %}

{% block title %}New TypeChantier{% endblock %}

{% block body %}
    <h1>Create new TypeChantier</h1>

    {{ include('type_chantier/_form.html.twig') }}

    <a href="{{ path('type_chantier_index') }}">back to list</a>
{% endblock %}
