{% extends 'base.html.twig' %}

{% block title %}Edit DemandeDevis{% endblock %}

{% block body %}
    <h1>Edit DemandeDevis</h1>

    {{ include('demande_devis/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('demande_devis_index') }}">back to list</a>

    {{ include('demande_devis/_delete_form.html.twig') }}
{% endblock %}
