{% extends 'base.html.twig' %}

{% block title %}DemandeDevis{% endblock %}

{% block body %}
    <h1>Create new DemandeDevis</h1>

    {{ include('demande_devis/_form.html.twig') }}

    <a href="{{ path('demande_devis_index') }}">back to list</a>
{% endblock %}
