{% extends "base.html.twig" %}

{% block header %}
<header class="clean-block clean-hero" style="background-image:url('{{image|default(asset("/images/home.jpeg"))}}');">
				<div class="text">
					<h1 class="uppercase">{{title|default('')}}</h1>
					<p>{{description|default('')}}</p>
				</div>
			</header>
{% endblock %}
