{% extends "base.html.twig" %}
{% block header %}
<header class="clean-block clean-hero bg-color" style="background-image:url('https://www.bwallpaperhd.com/wp-content/uploads/2020/05/LoneTree-1600x900.jpg');">
				<div class="text">
					<h1 class="uppercase">{{titre}}</h1>
					<p>And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.
					</p>
				</div>
			</header>
{% endblock %}
