{% extends "base.html.twig" %}

{% block header %}
<header class="clean-block clean-hero" style="background-image:url('{{image|default('default image')}}');">
				<div class="text">
					<h1 class="uppercase">{{titre}}</h1>
					<p>And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.
					</p>
				</div>
			</header>
{% endblock %}
